{
  "swagger": "2.0",
  "info": {
    "description": "This is our Safety Helmet project API. Using this public API you will be able to pass any image of a worker and know if the person is wearing a helmet or not. \n\n [Project repository](https://github.com/EduFdezSoy/safety-first) \n\n [Dataset Repository](https://github.com/sergiorodenas/ml-data)\n\n Project made by [Rubén Zúñiga](https://github.com/yezarou), [Eduardo Fernández](https://github.com/EduFdezSoy) and [Sergio Ródenas](https://github.com/sergiorodenas) as part of the *Artificial Intelligence Course* by the *Samsung Innovation Campus*.  ",
    "version": "1.0.0",
    "title": "Safety First"
  },
  "host": "api.safety-first.edufdez.es",
  "basePath": "/",
  "tags": [
    {
      "name": "predict",
      "description": "Predict the image"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/predict": {
      "post": {
        "tags": [
          "predict"
        ],
        "summary": "Predict if the person have a helmet.",
        "description": "Predict if the person have a helmet.",
        "operationId": "uploadFile",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "image to check",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "predictions": {
                  "type": "number",
                  "example": 0.1
                },
                "success": {
                  "type": "boolean",
                  "example": true
                }
              }
            }
          }
        }
      }
    }
  }
}